@import url(https://fonts.googleapis.com/css?family=Hind);          /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile);        /*--- Heading Font --*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: #333232;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0;
}

h3 {
    text-align: center;
    color: #4a4444;
    letter-spacing: 2px;
}

p {
    padding: 10px;
    color: #4a4444;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}
/*  Start Document Media */
@media screen and (max-width: 768px) {
    
}

.home {
    background: url(../img/home.jpg);
    height: 90vh;
    max-width: 100vw;
    background-position: top;
}
.home-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(37, 37, 37, 0.8);
    justify-content: center;
    align-items: center;
}
.home-inner .home-head {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.home-head h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.home-head p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.home-bottom p {
    text-align: center;
    margin: auto;
    width: 70%;
    color: #fff;
    font-size: 14px;
}